<div style="text-align: right">INFO 6105 Data Science Eng Methods and Tools, Assignment 6</div>
<div style="text-align: right">Zixiao Wang, 10 October 2019, with material from Dino Konstantopoulos, John Salvatier, Thomas V. Wiecki, Christopher Fonnesbeck</div>

# Assignment 6

## Requirements

Your homework will be to pick a sport and build a Bayesian model on the sport or on select teams, and be able to do some predictions.

You need to base your model on a simple linear combination of independent variables, in order to be able to get a better handle on a dependent variable. You can use a simple linear model, a log-linear model, or a linear-logistic model.

DON'T copy from the Web. Do your own study. Non-significant results is accepted, as long as you explain why you think the effort failed.

You will need to explain how you build model and choose distribution, what does the plot indicate and how these plot lead to your final conclusion the code review. So comment as much as you can.

Work in teams of 2, not more. Best HW will be presented in class.

## Pick a sport and extract the data

### 1. Pick a sport
I choose a [Horse Racing - Tipster Bets](https://data.world/data-society/horse-racing-tipster-bets) data set

In [1]:
import numpy as np
import pandas as pd
try:
    from StringIO import StringIO
except ImportError:
    from io import StringIO
import pymc3 as pm, theano.tensor as tt
import matplotlib.pyplot as plt
from matplotlib.ticker import StrMethodFormatter
import seaborn as sns
%matplotlib inline

WARNING (theano.configdefaults): g++ not available, if using conda: `conda install m2w64-toolchain`
D:\Users\admin\Anaconda3\lib\site-packages\theano\configdefaults.py:560: UserWarning: DeprecationWarning: there is no c++ compiler.This is deprecated and with Theano 0.11 a c++ compiler will be mandatory
  warnings.warn("DeprecationWarning: there is no c++ compiler."
WARNING (theano.configdefaults): g++ not detected ! Theano will be unable to execute optimized C-implementations (for both CPU and GPU) and will default to Python implementations. Performance will be severely degraded. To remove this warning, set Theano flags cxx to an empty string.
WARNING (theano.tensor.blas): Using NumPy C-API based implementation for BLAS functions.

In [2]:
df_all = pd.read_csv('./data/tips.csv')

In [3]:
df_all.head(10) # all data is 38248 rows × 10 columns

,UID,ID,Tipster,Date,Track,Horse,Bet Type,Odds,Result,TipsterActive
0,1,1,Tipster A,24/07/2015,Ascot,Fredricka,Win,8.00,Lose,True
1,2,2,Tipster A,24/07/2015,Thirsk,Spend A Penny,Win,4.50,Lose,True
2,3,3,Tipster A,24/07/2015,York,Straightothepoint,Win,7.00,Lose,True
3,4,4,Tipster A,24/07/2015,Newmarket,Miss Inga Sock,Win,5.00,Lose,True
4,5,5,Tipster A,25/07/2015,Ascot,Peril,Win,4.33,Win,True
5,6,6,Tipster A,25/07/2015,York,Aldreth,Win,6.00,Lose,True
6,7,7,Tipster A,25/07/2015,Newcastle,Niceonemyson,Win,6.00,Lose,True
7,8,8,Tipster A,25/07/2015,Lingfield,Brandon Castle,Win,6.00,Lose,True
8,9,9,Tipster A,26/07/2015,Carlisle,Sands Time,Win,5.50,Lose,True
9,10,10,Tipster A,26/07/2015,Pontefract,Ad Dabaran,Win,2.00,Lose,True

Base on the data above, I am going to use **track-hourse** as variables X, and use these to build a Bayesian model to predict the **Result**

### 2. Extract the data

In [4]:
tracks = df_all['Track'].unique()
tracks = pd.DataFrame(tracks, columns=['tracks'])
tracks['i'] = tracks.index

In [5]:
tracks # 116 rows × 2 columns

              tracks    i
0              Ascot    0
1             Thirsk    1
2               York    2
3          Newmarket    3
4          Newcastle    4
5          Lingfield    5
6           Carlisle    6
7         Pontefract    7
8          Uttoxeter    8
9           Hamilton    9
10          Chepstow   10
11         Salisbury   11
12         Catterick   12
13        Chelmsford   13
14          Brighton   14
15     Wolverhampton   15
16           Newbury   16
17      Market Rasen   17
18           Tramore   18
19         Leicester   19
20          Ffos Las   20
21         Worcester   21
22           Sandown   22
23         Deauville   23
24           Curragh   24
25         Stratford   25
26          Goodwood   26
27          Beverley   27
28         Doncaster   28
29           Chester   29
..               ...  ...
86         Southwell   86
87       Bellewstown   87
88            Redcar   88
89    Arlington Park   89
90         Keeneland   90
91           Wexford   91
92       Santa Anita   92
93        Flemington   93
94            Layton   94
95         Chantilly   95
96           Cologne   96
97            Shatin   97
98   Churchill Downs   98
99           Pimlico   99
100          Dresden  100
101         Saratoga  101
102       chelmsford  102
103          Thurlow  103
104      Turffontein  104
105           Wahash  105
106     Grand Canyon  106
107        Frenchman  107
108     Home Cummins  108
109    Moonee Valley  109
110            Tokyo  110
111       Dusseldorf  111
112         Kilarney  112
113      Gowran park  113
114   Gulfsteam Park  114
115     Belmont Park  115

[116 rows x 2 columns]

In [6]:
horses = df_all['Horse'].unique()
horses = pd.DataFrame(horses, columns=['horses'])
horses['i'] = horses.index

In [7]:
horses # 15785 rows × 2 columns

                  horses      i
0              Fredricka      0
1          Spend A Penny      1
2      Straightothepoint      2
3         Miss Inga Sock      3
4                  Peril      4
5                Aldreth      5
6           Niceonemyson      6
7         Brandon Castle      7
8             Sands Time      8
9             Ad Dabaran      9
10            Milgen Bay     10
11      Gleese The Devil     11
12              Especial     12
13         Indian Affair     13
14           Wild Desert     14
15            Lets Twist     15
16        Berti Blue Boy     16
17       Shes Invincible     17
18                Pacngo     18
19          Honiton Lace     19
20              Cultrail     20
21            Withernsea     21
22             Cable Bay     22
23         Albert Bridge     23
24              Towering     24
25                Patsio     25
26     Illtakeitfromhere     26
27         El Astrounote     27
28         Golden Ambers     28
29             Trimoulet     29
...                  ...    ...
15755       Choppy Water  15755
15756       Multiculture  15756
15757       Spring Fling  15757
15758      Zaina Rizzena  15758
15759         Improvised  15759
15760            Sealife  15760
15761          Blue Wave  15761
15762       Wonder Liash  15762
15763          Prosecute  15763
15764    Etienne Gerrard  15764
15765             Compel  15765
15766            Maxwell  15766
15767     Rochdale House  15767
15768       Mizen Master  15768
15769      Salieris Mass  15769
15770   Canford Thompson  15770
15771       Mac N Cheese  15771
15772        Palermo Don  15772
15773    Explosive Power  15773
15774        Fair Return  15774
15775        Its A Sting  15775
15776  Blue Sea Of Ibrox  15776
15777       Miss Dynamic  15777
15778         Jonniesofa  15778
15779              Verni  15779
15780       Us Navy Seal  15780
15781        Kala Brandy  15781
15782         Connetable  15782
15783      Allchilledout  15783
15784         Dream Farr  15784

[15785 rows x 2 columns]

In [8]:
df_need = pd.DataFrame(df_all['Track'], columns=['Track'])
df_need['Horse'] = df_all['Horse']
df_need['Result']=df_all['Result']

In [9]:
df_need.head()

       Track              Horse Result
0      Ascot          Fredricka   Lose
1     Thirsk      Spend A Penny   Lose
2       York  Straightothepoint   Lose
3  Newmarket     Miss Inga Sock   Lose
4      Ascot              Peril    Win

In [10]:
df_need = pd.merge(df_need, tracks, left_on='Track', right_on='tracks', how='left')
df_need = df_need.rename(columns = {'i': 'trackNumber'}).drop('tracks', 1)
df_need = pd.merge(df_need, horses, left_on='Horse', right_on='horses', how='left')
df_need = df_need.rename(columns = {'i': 'horseNumber'}).drop('horses', 1)
df_need

               Track               Horse Result  trackNumber  horseNumber
0              Ascot           Fredricka   Lose            0            0
1             Thirsk       Spend A Penny   Lose            1            1
2               York   Straightothepoint   Lose            2            2
3          Newmarket      Miss Inga Sock   Lose            3            3
4              Ascot               Peril    Win            0            4
5               York             Aldreth   Lose            2            5
6          Newcastle        Niceonemyson   Lose            4            6
7          Lingfield      Brandon Castle   Lose            5            7
8           Carlisle          Sands Time   Lose            6            8
9         Pontefract          Ad Dabaran   Lose            7            9
10         Uttoxeter          Milgen Bay   Lose            8           10
11            Thirsk    Gleese The Devil   Lose            1           11
12          Hamilton            Especial   Lose            9           12
13          Chepstow       Indian Affair   Lose           10           13
14         Salisbury         Wild Desert    Win           11           14
15         Catterick          Lets Twist   Lose           12           15
16        Chelmsford      Berti Blue Boy   Lose           13           16
17          Brighton     Shes Invincible   Lose           14           17
18         Newcastle              Pacngo   Lose            4           18
19     Wolverhampton        Honiton Lace   Lose           15           19
20         Newmarket            Cultrail   Lose            3           20
21           Newbury          Withernsea   Lose           16           21
22           Newbury           Cable Bay   Lose           16           22
23           Newbury       Albert Bridge    Win           16           23
24      Market Rasen            Towering   Lose           17           24
25           Tramore              Patsio   Lose           18           25
26           Tramore   Illtakeitfromhere   Lose           18           26
27         Leicester       El Astrounote    Win           19           27
28        Chelmsford       Golden Ambers    Win           13           28
29        Chelmsford           Trimoulet   Lose           13           29
...              ...                 ...    ...          ...          ...
38218      Doncaster          Kayf Grace   Lose           28        15726
38219      Newcastle   Under The Red Sky   Lose            4        13381
38220       Carlisle   Under The Red Sky   Lose            6        13381
38221  Wolverhampton           Be My Sea    Win           15         9513
38222      SouthWell    Flowers On Venus   Lose           63          789
38223       Hamilton            Stoneham   Lose            9         1482
38224        Warwick        Charlie Cook   Lose           55         8423
38225          Kelso          Lord Usher   Lose           72        13631
38226     Cheltenham              Altior    Win           50          240
38227     Cheltenham      Camping Ground   Lose           50         5930
38228     Cheltenham      Morello Royale   Lose           50         6308
38229     Cheltenham      Black Hercules    Win           50         4598
38230     Chelmsford       Brother Tiger   Lose           13         7285
38231     Cheltenham          Connetable   Lose           50        15782
38232     Cheltenham            Long Dog   Lose           50         2802
38233     Cheltenham      Rock The World    Win           50          162
38234        Kempton          Might Bite    Win           34        10677
38235       Carlisle        Mr Moonshine   Lose            6         9668
38236         Meydan          Big Orange   Lose           68         2854
38237     Fairyhouse         Russe Blanc   Lose           64         8602
38238      SouthWell  Beautiful Stranger   Lose           63         6241
38239      SouthWell       Hollywood Ken   Lose           63         8960
38240         Exeter       Allchilledout   Lose           46        15783
38241       Wetherby    Theatrical Style   Lose           40         8368
38242  Wolverhampton           Hairdryer   Lose           15        13089
38243        Kempton         Solar Flair   Lose           34         2853
38244      Doncaster     Express Himself   Lose           28         7873
38245      Doncaster         Jack Dexter   Lose           28         1165
38246          Kelso        Just Cameron   Lose           72         2615
38247         Redcar          Dream Farr   Lose           88        15784

[38248 rows x 5 columns]

In [11]:
def result_change(inputVariable):
    result = 0
    if(inputVariable == 'Win'):
        result = 1
    else:
        result = 0
    return result

In [12]:
df_need['Result']=df_need['Result'].map(lambda x:result_change(x))

In [13]:
df_need

               Track               Horse  Result  trackNumber  horseNumber
0              Ascot           Fredricka       0            0            0
1             Thirsk       Spend A Penny       0            1            1
2               York   Straightothepoint       0            2            2
3          Newmarket      Miss Inga Sock       0            3            3
4              Ascot               Peril       1            0            4
5               York             Aldreth       0            2            5
6          Newcastle        Niceonemyson       0            4            6
7          Lingfield      Brandon Castle       0            5            7
8           Carlisle          Sands Time       0            6            8
9         Pontefract          Ad Dabaran       0            7            9
10         Uttoxeter          Milgen Bay       0            8           10
11            Thirsk    Gleese The Devil       0            1           11
12          Hamilton            Especial       0            9           12
13          Chepstow       Indian Affair       0           10           13
14         Salisbury         Wild Desert       1           11           14
15         Catterick          Lets Twist       0           12           15
16        Chelmsford      Berti Blue Boy       0           13           16
17          Brighton     Shes Invincible       0           14           17
18         Newcastle              Pacngo       0            4           18
19     Wolverhampton        Honiton Lace       0           15           19
20         Newmarket            Cultrail       0            3           20
21           Newbury          Withernsea       0           16           21
22           Newbury           Cable Bay       0           16           22
23           Newbury       Albert Bridge       1           16           23
24      Market Rasen            Towering       0           17           24
25           Tramore              Patsio       0           18           25
26           Tramore   Illtakeitfromhere       0           18           26
27         Leicester       El Astrounote       1           19           27
28        Chelmsford       Golden Ambers       1           13           28
29        Chelmsford           Trimoulet       0           13           29
...              ...                 ...     ...          ...          ...
38218      Doncaster          Kayf Grace       0           28        15726
38219      Newcastle   Under The Red Sky       0            4        13381
38220       Carlisle   Under The Red Sky       0            6        13381
38221  Wolverhampton           Be My Sea       1           15         9513
38222      SouthWell    Flowers On Venus       0           63          789
38223       Hamilton            Stoneham       0            9         1482
38224        Warwick        Charlie Cook       0           55         8423
38225          Kelso          Lord Usher       0           72        13631
38226     Cheltenham              Altior       1           50          240
38227     Cheltenham      Camping Ground       0           50         5930
38228     Cheltenham      Morello Royale       0           50         6308
38229     Cheltenham      Black Hercules       1           50         4598
38230     Chelmsford       Brother Tiger       0           13         7285
38231     Cheltenham          Connetable       0           50        15782
38232     Cheltenham            Long Dog       0           50         2802
38233     Cheltenham      Rock The World       1           50          162
38234        Kempton          Might Bite       1           34        10677
38235       Carlisle        Mr Moonshine       0            6         9668
38236         Meydan          Big Orange       0           68         2854
38237     Fairyhouse         Russe Blanc       0           64         8602
38238      SouthWell  Beautiful Stranger       0           63         6241
38239      SouthWell       Hollywood Ken       0           63         8960
38240         Exeter       Allchilledout       0           46        15783
38241       Wetherby    Theatrical Style       0           40         8368
38242  Wolverhampton           Hairdryer       0           15        13089
38243        Kempton         Solar Flair       0           34         2853
38244      Doncaster     Express Himself       0           28         7873
38245      Doncaster         Jack Dexter       0           28         1165
38246          Kelso        Just Cameron       0           72         2615
38247         Redcar          Dream Farr       0           88        15784

[38248 rows x 5 columns]

## Build the Bayesian model

As we know, a count outcome is most often modelled as a Poisson distribution. Modeling team strengths is usually accomplished with a vector of goals scored $y$ as independent Poisson distributions: $(y\;|\;θ) \propto Poisson(θ)$ 

I will model $\theta$ as an exponential of two independent variables: an tracks variable **track**, and a horses variable **horses**, times a constant factor k:

$$θ = k * e^{\text{track}_g} * e^{\text{horse}_g}$$

$$\log(θ) = \text{track}_g + \text{horse}_g$$

The resulting intensity is determined jointly by an track and a horse type for each horse, represented by parameters `track` and `horse`, respectively

$track_t \propto \text{Normal}(μ_{track},τ_{track})$ and $horse_t \propto \text{Normal}(μ_{horse}, τ_{horse})$.

In [17]:
observed_result = df_need['Result'].values

trackNumber = df_need['trackNumber'].values
horseNumber = df_need['horseNumber'].values

num_horse = len(horses)
num_track = len(tracks)

num_match = len(trackNumber)
num_horse, num_match

(15785, 38248)

In [18]:
observed_result.sum()

7683

In [19]:
with pm.Model() as model:

    sd_track = pm.HalfStudentT('sd_track', nu=3, sd=2.5)
    sd_horse = pm.HalfStudentT('sd_horse', nu=3, sd=2.5)
    intercept = pm.Flat('intercept') #no idea

    track_star = pm.Normal("track_star", mu=0, sd=sd_track, shape=num_track)
    horse_star = pm.Normal("horse_star", mu=0, sd=sd_horse, shape=num_horse)

    trackss = pm.Deterministic('atts', track_star - tt.mean(track_star))
    horsess = pm.Deterministic('defs', horse_star - tt.mean(horse_star))
    
    result_theta = tt.exp(intercept + trackss[trackNumber] + horsess[horseNumber])

    result_points = pm.Poisson('home_points', mu=result_theta, observed=observed_result)

In [ ]:
with model:
    trace = pm.sample(1000, tune=1000, cores=2)
    pm.traceplot(trace)

Auto-assigning NUTS sampler...
Initializing NUTS using jitter+adapt_diag...
Multiprocess sampling (2 chains in 2 jobs)
NUTS: [horse_star, track_star, intercept, sd_horse, sd_track]
Sampling 2 chains:   0%|          | 7/4000 [01:55<19:17:43, 17.40s/draws]

## Prediction